@(region: String, currentCls: Option[String], instanceClasses: List[String])

<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-pills" role="tablist">
            <li class="@if(currentCls.isEmpty) @{ "active" }">
                <a href="@routes.Application.showRegion(region)">Summary</a>
            </li>
            @for(cls <- instanceClasses) {

                <li class="@if(currentCls contains cls) @{ "active" }">
                    <a href="@routes.Application.showClass(region, cls)">class: @cls</a>
                </li>
            }
        </ul>
    </div>
</div>
